<div class="page-wrap">

  <div id="canvas"></div>

  <div class="flex-wrapper multi-textures" data-vs-id="multiple-textures-vs" data-fs-id="multiple-textures-fs">
    <div class="change-slide__container">
      <span class="change-slide" data-slide="1">Slide 1</span>
      <span class="change-slide" data-slide="2">Slide 2</span>
      <span class="change-slide" data-slide="3">Slide 3</span>
      <span class="change-slide" data-slide="4">Slide 4</span>
    </div>
    <!-- notice here we are using the data-sampler attribute to name our sampler uniforms -->
    <img src="assets/img/displacement/6.jpg" data-sampler="displacement" />
    <img src="assets/img/Img22.jpg" data-sampler="firstTexture" />
    <img src="assets/img/Img23.jpg" data-sampler="secondTexture" />
    <img src="assets/img/Img25.jpg" data-sampler="thirdTexture" />
    <img src="assets/img/Img24.jpg" data-sampler="fourthTexture" />
  </div>
</div>
